.mat-sidenav-container {
  background: rgba(248, 247, 164, 0.918);
  width: 150px;
  height: 1080px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  float: left;
}

.mat-sidenav-content {
  height: 100%;
  align-items: center;
  justify-content: center;
}
